---
username: {{tunnel_user}}
socket_directory: {{tunnel_socket_dir}}
# Primary base URL (use HTTPS if SSL is configured, otherwise use HTTP)
base_url: https://webquiz.space/wsaio/
# Alternative URLs (both HTTP and HTTPS for flexibility)
http_url: http://webquiz.space/wsaio/
https_url: https://webquiz.space/wsaio/

